ul#landing-page-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul li {
    width: 50%;
    text-align: center;
}